<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png"
        href="https://user-images.githubusercontent.com/46775877/116778270-d5eada80-aaab-11eb-996a-bde963a2f6bd.png">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이소영짱</title>
</head>

<body>
    <div class="title">
        Detail.
    </div>
    <div class="container">
        <div class="detail-post-container">
            <div class="detail-title">
                {{post.title}}
            </div>
            <div class="detail-content">
                {{post.content}}
            </div>
            <div class="detail-post-custom">
                <a href="{% url 'home' %}">홈으로</a>
                <a href="{% url 'edit' post.pk %}">수정하기</a>
                <a href="{% url 'delete' post.pk %}">삭제하기</a>
            </div>
        </div>
    </div>
</body>

</html>