<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="https://user-images.githubusercontent.com/46775877/116778270-d5eada80-aaab-11eb-996a-bde963a2f6bd.png">
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글</title>
</head>
<body>
    <div class="title">
        New.
    </div>
    <div class="container">
        <div class="new-post-container">
            <form method="POST" action=".">
                {% csrf_token %}
                새 글 입력하기
                <input type="text" placeholder="제목을 입력하세요." name="title">
                <textarea placeholder="내용을 입력하세요." name="content"></textarea>
                <input id="new-post-submit-btn" type="submit">
            </form>
        </div>
    </div>
</body>
</html>